element {

}
body, html {

    width: 100%;

}
html {

    overflow-x: hidden;

}

element {

    padding-top: 0px;

}
body {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #4a4a4a;
    width: 100%;
}


